name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: choice
        description: Which version should be published?
        options:
          - patch
          - minor
          - major
          - prepatch
          - preminor
          - premajor
          - prerelease
      tag:
        required: true
        type: choice
        description: Which npm tag should this be published to?
        options:
          - latest
          - next
      preid:
        type: choice
        description: Which prerelease identifier should be used? This is only needed when version is "prepatch", "preminor", "premajor", or "prerelease".
        options:
          - ""
          - alpha
          - beta
          - rc
          - next

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      # install bumpp to calculate the new version
      - name: Install bumpp
        run: pnpm add -g bumpp

      - name: Calculate new version
        id: version
        run: |
          NEW_VERSION=$(bumpp -n ${{ inputs.version }} --preid ${{ inputs.preid }} --dry-run | grep 'New version:' | awk '{print $3}')
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT
