name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: choice
        description: Which version should be published?
        options:
          - patch
          - minor
          - major
          - prepatch
          - preminor
          - premajor
          - prerelease
      tag:
        required: true
        type: choice
        description: Which npm tag should this be published to?
        options:
          - latest
          - next

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git Identity
        run: |
          git config user.name "ambitiondev-release-bot[bot]"
          git config user.email "ambitiondev-release-bot[bot]@users.noreply.github.com"

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install changelogen
        run: pnpm add -g changelogen

      - name: Create new version
        id: version
        run: |
          pnpm config set //registry.npmjs.org/:_authToken ""
          pnpm dlx changelogen --bump --release --${{ github.event.inputs.version }} --publishTag ${{ github.event.inputs.tag }} --push --publish
