name: Release

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: "Release type"
        required: true
        type: choice
        options: [latest, next]
      preid:
        description: "Prerelease identifier"
        type: choice
        options: ["", alpha, beta, rc, next]

jobs:
  # STAGE 1: Versioning & Tagging
  bump:
    name: Version Bump
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Release Please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          skip-github-pull-request: true
          prerelease: ${{ github.event.inputs.release-type == 'next' }}
          prerelease-type: ${{ github.event.inputs.preid }}

  # STAGE 2: Build & Publish
  publish:
    name: Build & Publish
    needs: bump
    if: ${{ needs.bump.outputs.release_created }}
    runs-on: ubuntu-latest
    environment: npm-publish
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Build
        uses: ./.github/actions/build

      - name: Publish to NPM
        run: pnpm publish --no-git-checks --provenance --access public

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.bump.outputs.tag_name }}
          generate_release_notes: true
          body_path: CHANGELOG.md
          prerelease: ${{ github.event.inputs.release-type == 'next' }}
