name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: choice
        description: Which version should be published?
        options: [patch, minor, major, prepatch, preminor, premajor, prerelease]
      tag:
        required: true
        type: choice
        description: Which npm tag should this be published to?
        options: [latest, next]

jobs:
  create-release:
    runs-on: ubuntu-latest
    environment: npm-publish
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: 0

      - name: Configure Git Identity
        run: |
          git config user.name "ambitiondev-release-bot[bot]"
          git config user.email "ambitiondev-release-bot[bot]@users.noreply.github.com"

      - name: Setup
        uses: ./.github/actions/setup

      - name: Ensure Latest NPM
        run: npm install -g npm@latest

      - name: Bump Version and Push
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          PRERELEASE_FLAG=""
          if [[ "${{ github.event.inputs.version }}" == pre* ]]; then PRERELEASE_FLAG="--prerelease"; fi
          pnpm dlx changelogen@latest --bump --release $PRERELEASE_FLAG --${{ github.event.inputs.version }} --push

      - name: Build
        run: pnpm run build

      - name: Publish to NPM
        run: |
          npm config set //registry.npmjs.org/:_authToken ""
          npm publish --provenance --access public --tag ${{ github.event.inputs.tag }}
